* {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    min-height: 0;
    padding: 0;
}

window#waybar {
    background-color:transparent;
    color: #FEF0C3;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: transparent;
}

window#waybar.chromium {
    background-color: transparent;
    border: none;
}

#custom-power,
#clock,
#audio,
#cpu_memory,
#bluetooth,
#network,
#language,
#left_tools{
    padding: 0px 8px;
    margin:0;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: #FEF0C3;
}

#workspaces button {
    padding: 0;
    margin: 1px;
    transition: all 0.3s ease-in-out;
    opacity:0.7;
    min-width: 20px;
    min-height:5px;
}

#workspaces button.active {
    color: #FEF0C3;
    opacity:1.0;
}
  
#workspaces button:hover {
    opacity:0.7;
    color: #FEF0C3;
    transition: all 0.3s ease-in-out;
}

#taskbar button {
    margin:0;
    padding: 0px 5px 0px 5px;
}


#battery.charging, #battery.plugged {
    color: #00ff62;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: #f53c3c;
}

#language {
    min-width: 20px;
}

#window{
    margin:0;
    margin-left:10px;
}

#tray{
    margin-left:10px;
}
