window {
    margin: 0px;
    border: 1px solid #ffffff00;
    background-color: #ffffff00;
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 17, 24, 0.349);
}

#text:selected {
    color: #ffffff;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #0062ff;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #0062ff;
}