window {
    margin: 0px;
    border-radius: 16px;
    background-color: rgba(34, 35, 35, 0.67); /* 222323aa */
}

#outer-box {
    margin: 0px;
    padding: 14px;
    border-radius: 16px;
    background-color: transparent;
}

#inner-box {
    margin: 0px;
    padding: 10px;
    border-radius: 12px;
    background-color: transparent;
}

#input {
    margin: 0px 0px 10px 0px;
    padding: 12px 14px;
    border-radius: 12px;
    border: none;

    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    font-size: 14px;
}

#entry {
    padding: 10px 12px;
    margin: 2px 0px;
    border-radius: 10px;

    background-color: transparent;
    color: #ffffff;
}

#text {
    color: #ffffff;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.10); /* ffffff1a */
    border-radius: 10px;
}

#img {
    margin-right: 8px;
}
